In [2]:
import requests
import json
import pandas as pd
from config import covid_api

In [3]:
# From COVID-19 API
# https://covid19api.com/

#base_url = 'https://api.covid19api.com/summary'
#headers = {"X-Access-Token":covid_api}

#response = requests.get(base_url, headers=headers).json()
#print(json.dumps(response, indent=4, sort_keys=True))

In [4]:
#response['Countries']

In [5]:
# Other URLs:
# https://api.covid19api.com/world/total


# This is all data - returns 10MB+
# https://api.covid19api.com/all

In [50]:
# Import 

cre_path = "data/cre-2018-a11.csv"
cre_df = pd.read_csv(cre_path)

cre_df

nc_cre_df = cre_df.loc[cre_df['STABREV']=='NC']

#nc_cre_df.drop(columns=['state','county','tract','prednum_moe','predrt','predrt_moe'], inplace=True)

nc_cre_cleaned_df = nc_cre_df[['rfgrp','prednum','popuni']]
nc_overall_rf_df = nc_cre_cleaned_df.groupby('rfgrp').sum()
nc_overall_rf_df['percentage'] = ''

for index, row in nc_overall_rf_df.iterrows():
    pct = (row['prednum'] / row['popuni'])*100
    nc_overall_rf_df.at[index,'percentage'] = pct

nc_overall_rf_df

       prednum    popuni percentage
rfgrp
0RF    5793084  20438202    28.3444
1-2RF  9733922  20438202    47.6261
3PLRF  4911196  20438202    24.0295

In [52]:
# Break down by county and risk factor levels

cre_RF_df = nc_cre_df.groupby(['ctname','rfgrp']).sum()

cre_RF_df.drop(columns=['state','county','tract','prednum_moe','predrt','predrt_moe'], inplace=True)

cre_RF_df['percentage'] = ''

for index, row in cre_RF_df.iterrows():
    pct = (row['prednum'] / row['popuni'])*100
    cre_RF_df.at[index,'percentage'] = pct

cre_RF_df.to_csv(r'test.csv')

cre_RF_df

                            prednum  popuni percentage
ctname               rfgrp
Alamance County, NC  0RF      96568  323580    29.8436
                     1-2RF   149414  323580    46.1753
                     3PLRF    77598  323580    23.9811
Alexander County, NC 0RF      19578   72192    27.1193
                     1-2RF    34884   72192    48.3211
...                             ...     ...        ...
Yadkin County, NC    1-2RF    33378   74996    44.5064
                     3PLRF    21412   74996    28.5509
Yancey County, NC    0RF       8614   35740    24.1018
                     1-2RF    16542   35740    46.2843
                     3PLRF    10584   35740    29.6139

[300 rows x 3 columns]

In [6]:
counties_path = "data/us-counties.csv"
county_df = pd.read_csv(counties_path)

county_df


nc_county_df = county_df.loc[county_df['state']=='North Carolina']

nc_county_df

              date   county           state     fips  cases  deaths
483     2020-03-03     Wake  North Carolina  37183.0      1       0
520     2020-03-04     Wake  North Carolina  37183.0      1       0
567     2020-03-05     Wake  North Carolina  37183.0      1       0
630     2020-03-06  Chatham  North Carolina  37037.0      1       0
631     2020-03-06     Wake  North Carolina  37183.0      1       0
...            ...      ...             ...      ...    ...     ...
329952  2020-07-13    Wayne  North Carolina  37191.0   2006      30
329953  2020-07-13   Wilkes  North Carolina  37193.0    628       7
329954  2020-07-13   Wilson  North Carolina  37195.0    942      24
329955  2020-07-13   Yadkin  North Carolina  37197.0    385       5
329956  2020-07-13   Yancey  North Carolina  37199.0     60       0

[10908 rows x 6 columns]

In [7]:
test_path = "data/CountyCasesDeathsAndPer10KResidents_Extract_MigratedData.csv"
test_df = pd.read_csv(test_path)
test_df

         County  Cases  Cases Per 10000 Residents  Deaths
0   New Hanover   1560                         67       8
1         Surry    592                         82       3
2       Robeson   1708                        130      43
3        Person    134                         34       1
4      Alamance   1492                         90      37
..          ...    ...                        ...     ...
95       Wilkes    632                         92       7
96         Dare    121                         33       1
97         Nash    666                         71       6
98     Carteret    144                         21       3
99       Bladen    455                        137       5

[100 rows x 4 columns]

In [8]:
test2_path = "data/DailyMetrics_Extract_MigratedData.csv"
test2_df = pd.read_csv(test2_path)
test2_df

,Date,Hospitalizations,NC Daily Test,New Cases by Report Date,New Cases by Specimen Date,Positive Test Percentage
0,4/13/20,313.0,1298.0,296,282.0,11%
1,7/8/20,994.0,25299.0,1435,1887.0,8%
2,4/5/20,261.0,1343.0,183,86.0,8%
3,3/18/20,NaN,205.0,22,150.0,NaN
4,6/13/20,823.0,17352.0,1427,685.0,9%
...,...,...,...,...,...,...
130,3/9/20,NaN,NaN,0,NaN,NaN
131,3/6/20,NaN,NaN,1,NaN,NaN
132,3/3/20,NaN,NaN,0,NaN,NaN
133,3/5/20,NaN,NaN,0,NaN,NaN
134,7/14/20,1109.0,23623.0,1956,NaN,NaN

In [9]:
test3_path = "data/Demographics_Extract_MigratedData.csv"
test3_df = pd.read_csv(test3_path)
test3_df

,Age Group,calc.ValueComma,Demographic,Gender,Hispanic,Name,Race,Value
0,Missing,849,Gender,Missing,NaN,Cases,NaN,849
1,Missing,"45,443",Gender,Female,NaN,Cases,NaN,45443
2,Missing,"43,192",Gender,Male,NaN,Cases,NaN,43192
3,Missing,11,Gender,Missing,NaN,Deaths,NaN,11
4,Missing,719,Gender,Female,NaN,Deaths,NaN,719
...,...,...,...,...,...,...,...,...
75,Missing,1%,Race,Missing,NaN,Percent of Deaths,Asian,1%
76,Missing,0%,Race,Missing,NaN,Percent of Deaths,Native Hawaiian or Pacific Islander,0%
77,Missing,6%,Race,Missing,NaN,Percent of Deaths,Other,6%
78,Missing,NaN,Race,Missing,NaN,Percent of Deaths,Missing,NaN
79,Missing,58%,Race,Missing,NaN,Percent of Deaths,White,58%

In [10]:
test4_path = "data/ZIPCodeCasesDeathsAndPer10KResidents_Extract_MigratedData.csv"
test4_df = pd.read_csv(test4_path)
test4_df

    ZIP Code Cases  Cases Per 10000 Residents  Deaths  Number of Records
0      27311     5                       16.0       0                  1
1      27919     0                        0.0       0                  1
2      28698     1                        5.0       0                  1
3      27962    23                       31.0       0                  1
4      28345   100                       79.0       3                  1
..       ...   ...                        ...     ...                ...
775    27704   949                      241.0      13                  1
776    27545   370                      122.0      18                  1
777    27231     5                       24.0       0                  1
778    28152   151                       58.0       0                  1
779    27710     0                        NaN       0                  1

[780 rows x 5 columns]